[class*='margin']{
    width: 4rem;
    /* 80px; */
    height: auto;
}
#con_1 > #slide_1 > #slidewrap li > .con_1_textbox{
    top: 1.5rem;
    /* 30px; */
    left: 1.5rem;
    /* 30px; */
}

.con_2_line > div{
    margin: 0.8rem 0.8rem 0 0.8rem;
    /* 16px 16px 0 16px; */
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line{
    margin-right: 1.3rem;
    /* 32px; */
}

/* -------------------------------------------------------------------------- */

#con_1 > #slide_1 > #slidewrap li > .con_1_textbox > h4{
    font-size: 1.5rem;
    /* 30px; */
    line-height: 1.75rem;
    /* 35px; */
}

#con_1 > #slide_1 > #slidewrap li .con_1_textbox{
    top: 1.5rem;
    left: 1.5rem;
}