[class*='margin']{
    width: 4rem;
    /* 80px; */
    height: auto;
}
#con_1 > #slide_1 > #slidewrap li .con_1_textbox{
    top: 1.5rem;
    /* 30px; */
    left: 1.5rem;
    /* 30px; */
}

.con_2_line > div{
    margin: 0.8rem 0.8rem 0 0.8rem;
    /* 20px 20px 0 20px; */
}

/* -------------------------------------------------------------------------- */

#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line{
    width: 23.5%;
    margin-right: 1rem;
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line:nth-child(4){
    margin-right: 0;
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line:nth-child(5){
    display: none;
}
.controls_12 #prev > i{
    width: 2rem;
    /* 40px; */
    height: 2rem;
    /* 40px; */
}
.controls_12 #next > i{
    width: 2rem;
    /* 40px; */
    height: 2rem;
    /* 40px; */
}
/* -------------------------------------------------------------------------- */

html{font-size: 18px;}
body{font-size: 1rem;}

/* -------------------------------------------------------------------------- */
.dropdown_content_before_logging_in{
    top: 45px;
}
.dropdown_content_after_logging_in{
    top: 45px;
}
.search_wrap > .search{
    width: 48rem;
    /* 960px; */
    position: relative;
    left: 55%;
    transform: translateX(-50%);
}
#aside_wrap{
    height: 93%;
}

#con_1 > #slide_1 > #slidewrap li{
    width: 23.5%;
    margin-right: 2%;
}
