[class*='margin']{
    width: 4rem;
    /* 80px; */
    height: auto;
}
#con_1 > #slide_1 > #slidewrap li > .con_1_textbox{
    top: 1.5rem;
    /* 30px; */
    left: 1.5rem;
    /* 30px; */
}

.con_2_line > div{
    margin: 0.8rem 0.8rem 0 0.8rem;
    /* 16px 16px 0 16px; */
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line{
    margin-right: 1.6rem;
    /* 32px; */
    width: 23.5%;
}

/* -------------------------------------------------------------------------- */

#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line:nth-child(5){
    display: none;
}
/* -------------------------------------------------------------------------- */

html{font-size: 16px;}
body{font-size: 1rem;}

/* -------------------------------------------------------------------------- */

#header_all_wrap > #header_fixed{
    display: none;
}
#header_all_wrap > #header_wrap{
    width: 100%;
}
#con_all_wrap > #con_fixed{
    display: none;
}
#aside_wrap{
    display: none;
}
[class*='margin']{
    display: none;
}

#header_wrap > header{
    width: 100%;
    flex-direction: column;
    margin: 0 40px 0 40px;
    position: relative;
}
#header_wrap > header > nav{
    height: 100vh;
    width: 100%;
    display: none;/*硫붾돱 踰꾪듉�쓣 �닃���쓣 �븣 fade in*/
}
#header_wrap > header > nav li{
    display: block;
    text-align: center;
}
#header_wrap > header > nav li a{
    font-size: 1rem;
    /* 16x; */
}
#header_wrap > header > #icon{
    /* display: none; */
    position: absolute;
    right: 0;
    top: 30px;
    transform: translateY(-50%);
}
.reactive_menu_icon{
    display: block;
    width: 1.25rem;
    /* 25px; */
    height: 1.25rem;
    /* 25px; */
    position: absolute;
    left: 0;
    top: 32px;
    transform: translateY(-50%);
    background-image: url("/resources/images/icon/menu.png");
    cursor: pointer;
    background-size: 100%;
}
.reactive_menu_icon > p{
    font-size: 1rem;
    /* 18px; */
    line-height: 1rem;
    /* 18px; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #191919;
    position: relative;
    left: 25px;
    top: 4px;
}
.reactive_menu_close_icon{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 32px;
    transform: translateY(-50%);
    background-image: url("/resources/images/icon/menu_close.png");
    cursor: pointer;
    border: 1px solid #191919;
    display: none;/*硫붾돱李쎌씠 �쑉硫� fade in*/
}

#con_all_wrap > #con_wrap{
    width: 100%;
    padding: 0 40px 0 40px;
}

#con_1 > #slide_1 > #slidewrap{
    white-space: wrap;
    overflow: none;
}
#con_1 > #slide_1 > #slidewrap li{
    display: block;
    float: left;
    width: 30.6%;
    margin: 4.1% 4.1% 0 0;
}
#con_1 > #slide_1 > #slidewrap li:nth-child(3n){
    margin-right: 0;
}
#con_1 > #slide_1 > #slidewrap li:nth-child(1),
#con_1 > #slide_1 > #slidewrap li:nth-child(2),
#con_1 > #slide_1 > #slidewrap li:nth-child(3){
    margin-top: 0;
}
#con_1 > #slide_1 > #slidewrap li:nth-child(7),
#con_1 > #slide_1 > #slidewrap li:nth-child(8),
#con_1 > #slide_1 > #slidewrap li:nth-child(9),
#con_1 > #slide_1 > #slidewrap li:nth-child(10){
    display: none;
}
#con_1_wrap > #btn_1{
    display: none;/*�뿬湲곗꽌�뒗 fade out*/
}
#con_1_wrap > #viewmorebtn_1{
    display: block;/*�뿬湲곗꽌 fade in*/
}


#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list{
    display: block;
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line{
    width: 48%;
    float: left;
    margin-right: 4%;
    /* 40px; */
    display: flex;
    height: 500px;
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line:nth-child(2),
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line:nth-child(4){
    margin-right: 0;
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line:nth-child(3),
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line:nth-child(4){
    margin-top: 4%;
}

#con_3 > #slide_3 > #slidewrap_3{ 
    white-space: wrap;
    overflow: none;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li{
    display: block;
    float: left;
    width: 30.6%;
    margin: 4.1% 4.1% 0 0;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li.bigsize_img_3{
    width: 30.6%;
    margin: 4.1% 4.1% 0 0;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(3n){
    margin-right: 0;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(1),
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(2),
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(3){
    margin-top: 0;
}
#con_3_wrap > #btn_3{
    display: none;
    /*�뿬湲곗꽌�뒗 fade out*/
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li{
    height: 300px;
}

/* -------------------------------------------------------------------------- */

.dropdown_content_before_logging_in{
    top: 42px;
}
.dropdown_content_after_logging_in{
    top: 42px;
}
.search_wrap > .search{
    width: 30rem;
}
.search_wrap > .search > .searchbox > input.searchborder{
    width: 30rem;
}
.search_wrap > .search > .search_img > p{
    display: none;
}
.search_wrap > .search > .search_img > ul{
    display: none;
}