/* 전체적인 레이아웃 */
    /* 양옆 마진 */
[class*='margin']{
    width: 4rem;
    /* 80px; */
    height: auto;
}
/* 전체적인 레이아웃 */

/* section_1 */
#con_1 > #slide_1 > #slidewrap li .con_1_textbox > h4{
    font-size: 1.5rem;
    /* 30px; */
    line-height: 1.75rem;
    /* 35px; */
}
/* section_1 */

/* section_2 */
.con_2_line > div{
    margin: 0.8rem 0.8rem 0 0.8rem;
    /* 16px 16px 0 16px; */
}
/* section_2 */
