/* section_1 */
#con_all_wrap > #con_wrap > #con_1_wrap{
    width: 100%;
    height: auto;
    position: relative;
}
[class*='con_title']{
    width: 100%;
    /* 70px; */
    text-align: center;
    position: relative;
    /* top: 2rem; */
    /* 60px; */
    padding-bottom: 0.5rem;
    /* 40px; */
    padding-top: 6rem;
    /* 120px; */
}
.con_title_1{
    padding-top: 3rem;
    /* 60px; */
}
[class*='con_title'] h3{
    font-size: 2rem;
    /* 40px; */
    line-height: 2rem;
    /* 40px; */
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #191919;
}
[class*='con_title'] h4{
    font-size: 1rem;
    /* 20px; */
    line-height: 1rem;
    /* 20px; */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #767676;
    position: relative;
    top: 0.5rem;
    /* 10px; */
}
#con_wrap > #con_1_wrap > #con_1{ 
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    padding-top: 2rem;
    /* 40px; */
}
#con_1 > #slide_1{
    flex: 1;
}
#con_1 > #slide_1 > #slidewrap{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#con_1 > #slide_1 > #slidewrap li{
    display: inline-block;
    width: 18.4%;
    margin-right: 2%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
#con_1 > #slide_1 > #slidewrap li > a{
    display: block;
}
#con_1 > #slide_1 > #slidewrap li > a:hover > img{
    transform: scale(1.1);
}
#con_1 > #slide_1 > #slidewrap li > a:hover > .bg{
    border-radius: 0;
}
#con_1 > #slide_1 > #slidewrap li .con_1_textbox{
    position: absolute;
    top: 1.5rem;
    /* 30px; */
    left: 1.5rem;
    /* 30px; */
    color: #FFFFFF;
    z-index: 9999;
}
#con_1 > #slide_1 > #slidewrap li .con_1_textbox > h4{
    font-size: 1.8rem;
    /* 36px; */
    line-height: 2.25rem;
    /* 45px; */
    font-family: 'Noto Sans KR', sans-serif;
}
#con_1 > #slide_1 > #slidewrap li .con_1_textbox > p{
    font-size: 1rem;
    /* 20px; */
    line-height: 1.25rem;
    margin-top: 0.25rem;
    /* 5px; */
    font-family: 'Roboto', sans-serif;
}
#con_1 > #slide_1 > #slidewrap li .bg{
    background-color:rgba(15, 15, 16, 0.4);
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    transition: all 0.3s ease;
    position: absolute;
    z-index: 2;
}
#con_1 > #slide_1 > #slidewrap li img{
    border-radius: 1rem 0 0 1rem;
    width: 100%;
    transition: all 0.3s ease;
}
.controls_12{
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    /* 50px; */
}
.controls_12 #prev > i{
    width: 2.75rem;
    /* 55px; */
    height: 2.75rem;
    /* 55px; */
    display: block;
    cursor: pointer;
    background-image: url("../images/icon/section12-icon-L.png");
    background-size: 100%;
}
.controls_12 #next > i{
    width: 2.75rem;
    /* 55px; */
    height: 2.75rem;
    /* 55px; */
    display: block;
    cursor: pointer;
    background-image: url("../images/icon/section12-icon-R.png");
    background-size: 100%;
}
#con_1_wrap > #btn_1{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 6.75rem;
    /* 135px; */
    padding-top: 2rem;
    /* 40px; */
}
#con_1_wrap > #btn_1 > div{
    width: 0.75rem;
    /* 15px; */
    height: 0.75rem;
    /* 15px; */
    float: left;
    margin-right: 0.75rem;
    /* 15px; */
    background-color: #dbdbdb;
    border-radius: 100%;
    cursor: pointer;
}
#con_1_wrap > #btn_1 > div:nth-child(5){
    margin-right: 0;
}
#con_1_wrap > #btn_1 > div.on_1{
    background-color: #F16122;
}
.onbtnhover::after{
    content: "";
    display: block;
    width: 0.75rem;
    /* 15px; */
    height: 0.75rem;
    /* 15px; */
    border-radius: 100%;
    transition: all .3s;
}
.onbtnhover:hover::after{
    background: #F16122;
    transition: all .3s;
}
#con_1_wrap > #viewmorebtn_1{
    display: none;
    width: 5.5rem;
    /* 110px; */
    height: 1.5rem;
    /* 30px; */
    border: 1px solid #767676;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    /* -55px; */
    text-align: center;
    line-height: 1.5rem;
    /* 30px; */
    font-family: 'Roboto', sans-serif;
    font-size: 0.65rem;
    /* 13px; */
    color: #767676;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#con_1_wrap > #viewmorebtn_1 a{
    line-height: 1.5rem;
    /* 30px; */
    font-family: 'Roboto', sans-serif;
    font-size: 0.65rem;
    /* 13px; */
    color: #767676;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#con_1_wrap > #viewmorebtn_1:hover{
    background-color:#767676;
}
#con_1_wrap > #viewmorebtn_1:hover a{
    color: #fff;
}
/* section_1 */

/* section_2 */
#con_wrap > #con_2_wrap{
    width: 100%;
}
#con_wrap > #con_2_wrap > #con_2{ 
    width: 100%;
    position: relative;
    padding: 2rem 0 2rem 0;
    /* 40px 0 40px 0; */
    display:flex;
}
#con_2 > #slide_2{
    flex: 1;
    width: 100%;
}
#con_2 > #slide_2 > #slide_2_wrap{
    width: 100%;
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list{
    display: flex;
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line{
    width: 18%;
    margin-right: 2.5%;
    background-color: #FFFFFF;
    flex: 1;
    /* 40px; */
    display: flex;
    flex-direction: column;
    height: 400px;
    box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.16);
    /* 0px 3px 6px rgba(0, 0, 0, 0.16) */
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line:last-child{
    margin-right: 0;
}
.con_2_line > div{
    margin: 1rem 1rem 0 1rem;
    /* 20px 20px 0 20px; */
}
/* section_2_컨텐츠 디자인 */
/* 1. 카테고리 */
.slide_2_list > .con_2_line > [class*='con_2_Categories']{
    flex: 0.2;
}

.slide_2_list > .con_2_line > [class*='con_2_Categories'] h1{
    font-size: 0.6rem;
    /* 12px; */
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #F16122;
    padding-bottom: 0.15rem;
    /* 3px; */
    display: inline-block;
    border-bottom: 1px solid #F16122;
}
/* 1. 카테고리 */
/* 2. 타이틀 */
.slide_2_list > .con_2_line > [class*='con_2_1_title']{
    flex: 1;
}
.slide_2_list > .con_2_line > [class*='con_2_1_title'] h2{
    font-size: 1rem;
    /* 20px; */
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.25;
    /* 25px; */
    font-weight: 700;
    color: #191919;
}
/* 2. 타이틀 */
/* 3. 유저 */
.slide_2_list > .con_2_line > [class*='con_2_user']{
    flex: 1;
    display: flex;
}
.slide_2_list > .con_2_line > [class*='con_2_user'] > a > [class*='userimg']{
    background-color: darkviolet;
    margin: 0;
    flex-basis: 2rem;
    /* 40px; */
    height: 2rem;
    /* 40px; */
    width: 2rem;
    /* 40px; */
    border-radius: 100%;
}
.slide_2_list > .con_2_line > [class*='con_2_user'] > .usernamebox{
    flex: 1;
    margin: 0;
    margin-left: 0.5rem;
    /* 10px; */
}
.slide_2_list > .con_2_line > [class*='con_2_user'] > .usernamebox > h4{
    margin-top: 0.3rem;
    /* 6px; */
    font-size: 0.75rem;
    /* 15px; */
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #191919;
}
.slide_2_list > .con_2_line > [class*='con_2_user'] > .usernamebox > p{
    font-size: 0.6rem;
    /* 12px; */
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    color: #767676;
    margin-top: 0.25rem;
    /* 5px; */
}
/* 3. 유저 */
/* 4. 이미지 */
.slide_2_list > .con_2_line > [class*='con_2_imgbox']{
    background-color:darkgrey;
    flex: 6;
    flex-basis: 10rem;
    /* 191px; */
    overflow: hidden;
}
.slide_2_list > .con_2_line > [class*='con_2_imgbox'] > a{
    width: 100%;
    height: 100%;
    display: block;
}
.slide_2_list > .con_2_line > [class*='con_2_imgbox']:hover{
    background-size: 210%;
}
/* 4. 이미지 */
/* 5. 커뮤니케이션 */
.slide_2_list > .con_2_line > [class*='con_2_attention']{
    margin-bottom: 1.5rem;
    /* 30px; */
    display: flex;
    position: relative;
    flex: 0.5;
    padding-bottom: 0.5rem;
}
.slide_2_list > .con_2_line > [class*='con_2_attention'] > .con_2_1_view{
    margin: 0;
    display: flex;
    position: absolute;
    top: 0.2rem;
    /* 4px; */
    left: 0;
}
.slide_2_list > .con_2_line > [class*='con_2_attention'] > .con_2_1_view > h4{
    font-size: 0.6rem;
    /* 12px; */
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}
.slide_2_list > .con_2_line > [class*='con_2_attention'] > .con_2_1_view > P{
    margin: 0.1rem 0 0 0.25rem;
    /* 2px 0 0 5px; */
}
.slide_2_list > .con_2_line > [class*='con_2_attention'] > .con_2_1_other{
    width: 5rem;
    /* 96px; */
    position: absolute;
    right: 0;
    display: flex;
    margin: 0;
    text-align: right;
}
.slide_2_list > .con_2_line > [class*='con_2_attention'] > .con_2_1_other > .con_2_1_comments,
.slide_2_list > .con_2_line > [class*='con_2_attention'] > .con_2_1_other > .con_2_1_like{
    display: flex;
    margin: 0;
}
.slide_2_list > .con_2_line > [class*='con_2_attention'] > .con_2_1_other > .con_2_1_like{
    margin-left: 0.5rem;
    /* 10px; */
}
.slide_2_list > .con_2_line > [class*='con_2_attention'] > .con_2_1_other i{
    width: 20px;
    /* 20px; */
    height: 20px;
    /* 20px; */
    display: block;
}
.slide_2_list > .con_2_line > [class*='con_2_attention'] > .con_2_1_other > .con_2_1_comments > i{
    background-image: url("../images/icon/article-icon-1.png");
    cursor: pointer;
    background-size: 100%;
}
.slide_2_list > .con_2_line > [class*='con_2_attention'] > .con_2_1_other > .con_2_1_like > i{
    background-image: url("../images/icon/article-icon-2-1.png");
    cursor: pointer;
    transition: all .3s;
    background-size: 100%;
}
.slide_2_list > .con_2_line > [class*='con_2_attention'] > .con_2_1_other > .con_2_1_like > i:hover{
    background-image: url("../images/icon/article-icon-2-2.png");
}
.slide_2_list > .con_2_line > [class*='con_2_attention'] > .con_2_1_other p{
    margin: 0.25rem 0 0 0.25rem;
    /* 5px 0 0 5px; */
}
/* section_2_컨텐츠 디자인 */

/* 글 들어가는 곳 */
.con_2_imgbox_1{
    background-image: url("../images/section_2_img/con_1.png");
    background-size: 190%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease;
}
.con_2_imgbox_2{
    background-image: url("../images/section_2_img/con_2_2.jpg");
    background-size: 190%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease;
}
.con_2_imgbox_3{
    background-image: url("../images/section_2_img/con_2_3.png");
    background-size: 190%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease;
}
.con_2_imgbox_4{
    background-image: url("../images/section_2_img/con_2_4.jpg");
    background-size: 190%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease;
}
.con_2_imgbox_5{
    background-image: url("../images/section_2_img/con_2_5.jpg");
    background-size: 190%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease;
}
/* 글 들어가는 곳 */
#con_2_wrap > #viewmorebtn{
    display: inline-block;
    width: 5.5rem;
    /* 110px; */
    height: 1.5rem;
    /* 30px; */
    border: 1px solid #767676;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* -55px; */
    text-align: center;
    line-height: 1.5rem;
    /* 30px; */
    font-family: 'Roboto', sans-serif;
    font-size: 0.65rem;
    /* 13px; */
    color: #767676;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#con_2_wrap > #viewmorebtn a{
    line-height: 1.5rem;
    /* 30px; */
    font-family: 'Roboto', sans-serif;
    font-size: 0.65rem;
    /* 13px; */
    color: #767676;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#con_2_wrap > #viewmorebtn:hover{
    background-color:#767676;
}
#con_2_wrap > #viewmorebtn:hover a{
    color: #fff;
}

/* section_3 */
#con_wrap > #con_3_wrap{
    width: 100%;
    padding-bottom: 6rem;
    /* 120px; */
}
#con_wrap > #con_3_wrap > #con_3{ 
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    padding: 2rem 0 2rem 0;
    /* 40px 0 40px 0; */
}
#con_3 > #slide_3{
    flex: 1;
    flex-basis: 100%;
}
#con_3 > #slide_3 > #slidewrap_3{ 
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li{
    display: inline-block;
    width: 23%;
    height: 400px;
    margin-right: 2%;
    position: relative;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li > a:hover > .bg-3{
    background-color:rgba(241, 97, 34, 0.4);
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li.bigsize_img_3{
    width: 50%;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(1){
    background-image: url("../images/section-3-img/3-1.png");
    background-size: cover;
    background-position: center;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(2){
    background-image: url("../images/section-3-img/3-2.png");
    background-size: cover;
    background-position: center;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(3){
    background-image: url("../images/section-3-img/3-3.png");
    background-size: cover;
    background-position: center;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(4){
    background-image: url("../images/section-3-img/3-4.png");
    background-size: cover;
    background-position: center;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(5){
    background-image: url("../images/section-3-img/3-5.png");
    background-size: cover;
    background-position: center;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(6){
    background-image: url("../images/section-3-img/3-6.png");
    background-size: cover;
    background-position: center;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li > img{
    width: 100%;
}
.slidelist_3 .con_3_textbox{
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    z-index: 9999;
    left: 50%;
    transform : translate(-50%, -50%);
    top: 50%;
}
.slidelist_3 .con_3_textbox > h4{
    font-size: 1.5rem;
    /* 30px; */
    line-height: 2rem;
    /* 40px; */
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
}
.slidelist_3 .con_3_textbox > p{
    font-size: 1rem;
    /* 20px; */
    margin-top: 0.5rem;
    /* 10px; */
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.slidelist_3 .bg-3{
    background-color:rgba(15, 15, 16, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    transition: all 1s;
}
#con_3_wrap > #btn_3{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 3.75rem;
    /* 75px; */
}
#con_3_wrap > #btn_3 div{
    width:0.75rem;
    /* 15px; */
    height: 0.75rem;
    /* 15px; */
    float: left;
    margin-right: 0.75rem;
    /* 15px; */
    background-color: #dbdbdb;
    border-radius: 100%;
    cursor: pointer;
}
#con_3_wrap > #btn_3 div:nth-child(3){
    margin-right: 0;
}
#con_3_wrap > #btn_3 div.on_3{
    background-color: #F16122;
}
/* section_3 */