/* 전체적인 레이아웃 */
html{font-size: 16px;}
body{font-size: 1rem;}

/* 레이아웃 재구성 */
#header_all_wrap > #header_fixed{
    display: none;
}
#header_all_wrap > #header_wrap{
    width: 100%;
}
#con_all_wrap > #con_fixed{
    display: none;
}
#aside_wrap{
    display: none;
}
[class*='margin']{
    display: none;
}
/* 레이아웃 재구성 */
    /* aside */
/* 전체적인 레이아웃 */
#con_all_wrap > #con_wrap{
    width: 100%;
    padding: 0 2.5rem 0 2.5rem;
    /* 0 40px 0 40px; */
}


/* header */
#header_wrap > header{
    width: 100%;
    flex-direction: column;
    margin: 0 2.5rem 0 2.5rem;
    /* 0 40px 0 40px; */
    position: relative;
}
#header_wrap > header > nav{
    height: 100vh;
    width: 100%;
    top: 65px;
    background-color: #fff;
    display: none;
    /*메뉴 버튼을 눌렀을 때 fade in*/
}
#header_wrap > header > nav li{
    display: block;
    text-align: center;

}
#header_wrap > header > nav li a{
    font-size: 1rem;
    /* 16x; */
}
#header_wrap > header > #icon{
    /* display: none; */
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.reactive_menu_wrap{
    height: 64px;
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    cursor: pointer;
}
.reactive_menu_icon{
    display: block;
    width: 1.25rem;
    /* 25px; */
    height: 1.25rem;
    /* 25px; */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../images/icon/menu.png");
    background-size: 100%;
}
.reactive_menu_icon > p{
    font-size: 1rem;
    /* 18px; */
    line-height: 1rem;
    /* 18px; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #191919;
    position: relative;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 1px;
}
.reactive_menu_close_icon{
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../images/icon/menu_close.png");
    cursor: pointer;
    border: 1px solid #191919;
}
/* header */


/* section_1 */
#con_1 > #slide_1 > #slidewrap{
    white-space: wrap;
    overflow: none;
}
#con_1 > #slide_1 > #slidewrap li{
    display: block;
    float: left;
    width: 31.4%;
    margin-right: 2.9%;
}
#con_1 > #slide_1 > #slidewrap li:nth-child(3n){
    margin-right: 0;
}
#con_1 > #slide_1 > #slidewrap li:nth-child(4),
#con_1 > #slide_1 > #slidewrap li:nth-child(5),
#con_1 > #slide_1 > #slidewrap li:nth-child(6){
    margin-top: 2.9%;
}
#con_1 > #slide_1 > #slidewrap li:nth-child(7),
#con_1 > #slide_1 > #slidewrap li:nth-child(8),
#con_1 > #slide_1 > #slidewrap li:nth-child(9),
#con_1 > #slide_1 > #slidewrap li:nth-child(10){
    display: none;
}
#con_1_wrap > #btn_1{
    display: none;/*여기서는 fade out*/
}
#con_1_wrap > #viewmorebtn_1{
    display: block;/*여기서 fade in*/
}

#con_1 > #slide_1 > #slidewrap li .con_1_textbox > h4{
    font-size: 1.875rem;
    /* 30px; */
    line-height: 2.5rem;
    /* 40px; */
}
/* section_1 */



/* section_2 */
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list{
    display: block;
}
.con_2_line > div{
    margin: 1rem 1rem 0 1rem;
    /* 16px 16px 0 16px; */
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line{
    width: 48.25%;
    float: left;
    margin-right: 3.5%;
    display: flex;
    height: 31.25rem;
    /* 500px; */
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line:nth-child(5){
    display: none;
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line:nth-child(2n){
    margin-right: 0;
}
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line:nth-child(3),
#con_2 > #slide_2 > #slide_2_wrap > .slide_2_list > .con_2_line:nth-child(4){
    margin-top: 3.5%;
}
.slide_2_list > .con_2_line > [class*='con_2_attention'] > .con_2_1_other{
    width: 6rem;
}
/* section_2 */


/* secttion_3 */
#con_3 > #slide_3 > #slidewrap_3{ 
    white-space: wrap;
    overflow: none;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li{
    display: block;
    float: left;
    width: 31.4%;
    margin-right: 2.9%;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li.bigsize_img_3{
    width: 31.4%;
    margin-right: 2.9%;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(3n){
    margin-right: 0;
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(4),
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(5),
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li:nth-child(6){
    margin-top: 2.9%;
}
#con_3_wrap > #btn_3{
    display: none;
    /*여기서는 fade out*/
}
#con_3 > #slide_3 > #slidewrap_3 > .slidelist_3 li{
    height: 18.75rem;
    /* 300px; */
}
/* secttion_3 */



/* 버튼 & 기능 */
/* 마이페이지 */
.search_wrap > .search{
    left: 50%;
}
.dropdown_content_before_logging_in{
    top: 42px;
    transform: translateX(-100%);
    left: 65px;
}
.dropdown_content_after_logging_in{
    top: 42px;
    transform: translateX(-100%);
    left: 65px;
}
/* 검색 */
.search_wrap > .search{
    width: 30rem;
}
.search_wrap > .search > .searchbox > input.searchborder{
    width: 30rem;
}
.search_wrap > .search > .search_img > p{
    display: none;
}
.search_wrap > .search > .search_img > ul{
    display: none;
}
/* 버튼 & 기능 */

/* footer */
footer{
    top: 3.75rem;
    /* 60px; */
}